<h2><%= "Week ##{@week.week_number}" %></h2>

<div class="week_content round">
 
    <div class="content">
      <ul>
      </ul>
    </div>
    <div class="discussion">
      <%= render 'post_display' %>
    </div>
  
</div>
