<h1><%= "#{@group.name}" %></h1>

<div id="group_nav">
  <ul class="grouplink">
      <li><a href="">Main</a></li>
      <li><a href="">Group Members</a></li>
      <li><a href="">Resources</a></li>
  </ul>
</div>

<div id="group_week_nav">
    <ul class="week">
        <!-- 
        if we want to use this we need to have these hashes in they are used as a js parameter
        could probably inherit the design of the main nav bar --!>

        <li><a class="round" href='#'>Week 1</a></li>
        <li><a class="round" href='#'>Week 2</a></li>
        <li><a class="round" href='#'>Week 3</a></li>
        <li><a class="round" href='#'>Week 4</a></li>
      </ul>
</div>
<div id="clear">
</div>
    <br><br><br>


    <div id="left">
        <p> LEFT</p>
    </div>
    <div id="right">
        <p> RIGHT</p>
    </div>
    <div id="clear">
       
    </div>




