<h1><%= "#{@group.name}" %></h1>
<div id="group_nav">
  <ul>
    <li>Main</li>
    <li>Group Members</li>
    <li>Resources</li>
    <li></li>
  </ul>
</div>
<table cellspacing="0" id="group_main">
  <tr>
    <div id="group_week_nav">
      <ul>
        <li><a class="round" href='#'>Week 1</a></li>
        <li><a class="round" href='#'>Week 2</a></li>
        <li><a class="round" href='#'>Week 3</a></li>
        <li><a class="round" href='#'>Week 4</a></li>
      </ul>
    </div>

  </tr>
  <tr class="content">
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>
