<%= content_for :left do %>
<% if @users_groups.empty? %>
  <b>You haven't joined any groups!</b>
<% else %>
  <div class="header">
    <h2>Your groups</h2>
  </div>
  <div class="user_groups">
    <ul class="feed">
      <%= render @users_groups %>
    </ul>
  </div>
<% end %>
<% end %>
