<div class="bookmarklet">
  <p>Drag the link below to your toolbar so you can easily
  save bookmarks with only a single click!</p>
  <a href="javascript:(function(){f='http://jsa-6470.heroku.com/bookmark?link='+encodeURIComponent(window.location.href)+'&amp;title='+encodeURIComponent(document.title)+'&amp;notes='+encodeURIComponent(''+(window.getSelection?window.getSelection():document.getSelection?document.getSelection():document.selection.createRange().text))+'&amp;v=6&amp;';a=function(){if(!window.open(f+'noui=1&amp;jump=doclose','deliciousuiv6','location=1,links=0,scrollbars=0,toolbar=0,width=710,height=660'))location.href=f+'jump=yes'};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})()" title="save on delicious" class="bookmarklet">Save to bookmarks!</a>
</div>
