<center><h1>About</h1></center>
<p><b><i>this month.org</i></b> is a collaborative education environment that encourages productive group organization to more efficiently allow groups to tackle new learning obstacles by working together as they work their way through  material.
</p>
  
