<h1>About It/Us</h1>
<p>Group-organize fights to prevent the father atomization of individuals in our communities by encouraging productive group organization in the name of science, politics, or any other human endeavour of sufficient popularity (>=2).
</p>
  
