<center><h1>About</h1></center>
<p><b><i>this month.org</i></b> is a collaborative education environment that encourages productive group organization more efficiently allowing groups to tackle new learning obstacles together as they work their way through material.
</p>

<p>
Start - Search - Join a group and start learning with others today.
</p>
  
