<center><h1>Contact Page</h1></center>
<p>This is our fictional contact page here I doubt that anyone has any reason to contact us yet, but even if you wanted to the following contact info isn't ours, or real...<br><br>
WorkerBee@group-organize.org<br>
BossGuy@group-organize.org<br>
</p>
