<h1 align="center"></h1>


<p>Welcome to this month.org. Pick an area.. pick a topic.. and find other excited people to work through some new materials with.
<br>
We hope that our site can be a place that facillitates the type of organization and teamwork that promotes scientific discovery and human advancement.
<br>
We have a responsibility to make use of our vast knowledge base and our ability to communicate with one another to identify goals and organie ourselves to achieve them.

</p>

<% if !signed_in? %>
<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>
<% end %>
