<h1 align="center">WELCOME</h1>

<h3 align="center">Join a group this week --> learn together</h3>
<h5 align="center">face new material together next week</h5>
<!--
<h3 align="center">to <b><i>thismonth.org</i></b> </h3>
--!>
<p>
Pick an area.. pick a topic.. and find other excited people to work through some new materials with.
</p>
<p>
We hope that our site can be a place that facillitates the type of organization and teamwork that promotes scientific discovery and human advancement.
</p>
<p>
We have a responsibility to make use of our vast knowledge base and our ability to communicate with one another to identify goals and organie ourselves to achieve them.
</p>


<% if !signed_in? %>
<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>
<% end %>
