<!-- this should be the basic layout for a "week page"
major things that we need
-navigation bar
middle div section into two
bottom 'goals'
--!>

<div id="middlebar">
<ul class="menu">
    <li><a href="#" onclick="javascript:showlayer('sm_1')"> Profile</a></li>
    <ul class="submenu" id="sm_1">
        <li><a href="p1.html">Profile</a></li>
        <li><a href="p2.hmtl">Inbox </a></li>
        <li><a href="p3.hmtl">Log-out</a></li>
    </ul>
</ul>
</div>
