<ul id="navbar">
    <li class="headlink">
        <a href="">Mathematics</a>
        <ul>
            <li><a href="">optimization</a></li>
            <li><a href="">shapes</a></li>
            <li><a href="">poker</a></li>
        </ul>
    </li>
    <li class="headlink">
        <a href="">Science</a>
        <ul>
            <li><a href="">biology</a></li>
            <li><a href="">chemistry</a></li>
            <li><a href="">physics</a></li>
        </ul>
    </li>

    <li class="headlink">
    <a href="">Sociology</a>
    <ul>
        <li><a href="">people</a></li>
        <li><a href="">milestones</a></li>
        <li><a href="">dreams</a></li>
    </ul>
    </li>

    <li class="headlink">
    <a href="">AreaFour</a>
    <ul>
        <li><a href="">topic1</a></li>
        <li><a href="">topic2</a></li>
        <li><a href="">topic3</a></li>
        <li><a href="">topic4</a></li>
        <li><a href="">topic5</a></li>
    </ul>
    </li>

    <li class="headlink">
    <a href="">AreaFive</a>
    <ul>
        <li><a href="">topic1</a></li>
        <li><a href="">topic2</a></li>
        <li><a href="">topic3</a></li>
        <li><a href="">topic4</a></li>
        <li><a href="">topic5</a></li>
    </ul>
    </li>
    <li class="headlink">
    <a href="">AreaSix</a>
    <ul>
        <li><a href="">topic1</a></li>
        <li><a href="">topic2</a></li>
        <li><a href="">topic3</a></li>
        <li><a href="">topic4</a></li>
        <li><a href="">topic5</a></li>
    </ul>
    </li>
</ul>



<br><br><br><br>
<br>what if<br><br><br>
<br><br>there were <br><br>
<br><br>actually content?<br><br>




