var added_post = $("<%= escape_javascript(render @post) %>");
added_post.attr("hidden", true);
$("table.discussion tr").last().after(added_post);
added_post.show("slow");
$("table.discussion tr#flash_notice").show();
$("table.discussion tr#flash_notice td").last().html('<div class="flash success">Cool, bro.</div>')
//$("table.discussion tr").first().before(flash_success);
$("table.discussion tr#flash_notice").fadeOut(5000);
