
.container {
  width: 710px;
}

body {
  background: #000033;
}

header {
  padding-top: 10px;
}

header img {
  padding: 1em;
  background: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 14px;
  background: #cccccc;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #003300;
  text-decoration: none;
}

a:hover {
  color: #003300;
  text-decoration: underline;
}

a:visited {
  color: #003300;
}

/* Navigation */

nav  {
  float: right;
}

nav  {
  background-color: #cccccc;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul  {
  margin: 0;
  padding: 0;
}

nav ul li  {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a  {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited  {
  color: #003300;
}

nav ul li a:hover  {
  text-decoration: underline;
}

/* Sign-up Button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #000033;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/*User index page styling*/
ul.users  {
  margin-top: 1em
}

.users li  {
  list-style: none
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 0.7em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/*Signup page stylings*/
div.field, div.actions {
  margin-bottom: 10px;
}

/*Signup page error message stylings*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

p
{
  text-indent:20px;
}

/* this is for our little navigation bar*/
ul, li{margin:0; border:0; padding:0; list-style:none;}
#middlebar{
  font-size:11px;
  color:#3b5d14;
  background:#90b557;
  font-weight:bold;
  padding:4px;
  height:30px;
}
#middlebar .menu li {
  background:url(lm.png) left top no-repeat;
  height:30px;
  float:left;
  margin-right:10px;
}
#middlebar .menu li a{
  color:#3b5d14;
  text-decoration:none;
  padding:0 10px;
  height:30px;
  line-height:30px;
  display:block;
  float:left;
  padding:0 26px 0 10px;
  background:url(rm.png) right top no-repeat;
}
#middlebar .menu li a:hover{
  color:#666666;
}

/* and here is for sub-menu */
#middlebar ul .submenu {
  border:solid 1px #c9dea1;
  border-top:none;
  background:#FFFFFF;
  position:relative;
  top:4px;
  width:150px;
  padding:6px 0;
  clear:both;
  z-index:2;
  display:none;
}
#middlebar ul .submenu li{
  background:none;
  display:block;
  float:none;
  margin:0 6px;
  border:0;
  height:auto;
  line-height:normal;
  border-top:solid 1px #DEDEDE;
}
#middlebar .submenu li a{
  background:none;
  display:block;
  float:none;
  padding:6px 6px;
  margin:0;
  border:0;
  height:auto;
  color:#105cbe;
  line-height:normal;
}
#middlebar .submenu li a:hover{
  background:#e3edef;
}

/*Styling for topic list in user profile*/
div.topic_list  {
  background : #c9dea1;
  border : 1px solid black;
  padding : 10px;
  margin : 5px;
}

ul.topics li  {
  background : white;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
}

ul.topics a.unsubscribe {
  position : absolute;
  right : 5px;
}

