h1  {
  font-weight: bold;
  text-align: center;
}
.container {
  width: 950px;
}

body {
  background: white;
}

header {
  padding-top: 10px;
}

header img {
  background: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 14px;
  background: #c9cfc9;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

/* Navigation */

nav  {
  float: right;
}

nav  {
  background-color: #cccccc;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul  {
  margin: 0;
  padding: 0;
}

nav ul li  {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a  {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited  {
  color: black;
}

nav ul li a:hover  {
  text-decoration: underline;
}

/* Sign-up Button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #000033;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Round corners */
/*
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

/*User index page styling*/
ul.users  {
  margin-top: 1em
}

.users li  {
  list-style: none
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 0.7em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/*Signup page stylings*/
div.field, div.actions {
  margin-bottom: 10px;
}

/*Signup page error message stylings*/
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

p {
    text-indent:15px;
}

/*Styling for topic list in user profile*/
div.topic_list  {
  background : #c9dea1;
  border : 1px solid black;
  padding : 10px;
  margin : 5px;
}

ul.topics li  {
  background : white;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  position: relative;
}

ul.topics a.unsubscribe {
  position : absolute;
  right : 5px;
}

/*                                   */
/* this is for the nav barrrrrrr!!!! */
/*                                   */



li.headlink {
    display:inline-block;
    width:95px;
    float:left;
    margin-left: -1px;
    background-color: #999900;
    text-align:center;
}
/*navbar color*/
li.headlink a {
    display: block; 
    padding: 10px;
    background-color: #012b70;
    text-color: #cccccc;
    color: white;
}

li.headlink a:hover {
    background-color:green;
}
li.headlink ul {
    position:absolute;
    display:none; 
    text-align:left;
    
}

li.headlink.hover ul {
    display: block; 
}

li.headlink ul li a {
    padding: 7px;
    height: 22px;
}

/*rollover color*/
li.headlink ul li a:hover {
    background-color: green;
}


ul li a:hover {
    text-decoration:none;
}

li.headlink ul {
    position:absolute;
    display:none; 
    text-align:left;
    
}

li.headlink.hover ul {
    display: block; 
}

li.headlink ul li a {
    padding: 7px;
    height: 22px;
}

/*rollover color*/
li.headlink ul li a:hover {
    background-color: green;
}



ul li a:hover {
    text-decoration:none;
}

li.headlink {
    background-color: white;
}

li.headlink ul {
    padding-bottom: 10px
}


ul {
    list-style: none;
    text-color: #cccccc;
}

ul.navbar {
    width:930px;
    position:relative;
    float:left;
    background-color: #012b70;
}
/* end of nav bar stylings */


/* here we are looking toward our week bar style */


ul li.headlink {
    display:inline-block;
    width:95px;
    float:left;
    margin-left: -1px;
    background-color: #999900;
    text-align:center;

}


ul.grouplink li a {
    float:left;
    display: inline-block; 
    padding: 10px;
    background-color: #012b70;
    text-color: #cccccc;
    color: white;
}

ul.grouplink li a:hover {
    background-color: green;
}


#group_week_nav {
        width:320px;
        height:41px;
        float:right;
}

ul.week li a:hover {
    background-color: green;
}

ul.week li a {
    float:left;
    display: inline; 
    padding: 10px;
    background-color: #012b70;
    text-color: #cccccc;
    color: white;

}
/* that's the end of that */

/* div for group */
#clear {
    clear:both;
}

#left {
    float:left;
    width:420px;
    border:1px solid black;

}

#right {
    float:right;
    width:420px;

}



#group_nav {
}

#group_week_nav {
}


/*discussion table css*/
 h1.post {
  margin-bottom: 0.3em;
}

table.discussion {
  margin-top: 1em;
}

table.discussion tr {
  height: 70px;
}

table.discussion tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.discussion tr td.post {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.discussion tr td.post span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div#right  {
  padding : 20px;
  position : relative;
}

div#right textarea#post_content {
  width:400px !important;
  min-width:400px !important;
  max-width:400px !important;
  height:60px !important;
  min-height:60px !important;
  max-height:60px !important;
}

/*div#right div.flash.success  {*/
  /*width : 300px;*/
/*}*/

/*only used for materials side of the group page */
ol li {
    padding:20px;
    margin-left:10px; 
}
