body {
  line-height: 1.5em;
  background-color: #A19B88;
  margin: 0;
  padding: 0;
}

b {
  font-size: 110%;
}

em {
  color: red;
}

#topsection {
  background: none repeat scroll 0 0 #white;
  height: 0px;
  margin-bottom: 1.5em;
  margin-top: 0.2em;
}

#navsection .usernav  {
  position: absolute;
  top: 0;
  right: 0;
}

#navsection .groupnav  {
  position: absolute;
  top: 0;
  left: 0;
}

/*navigation section*/
#navsection  {
  background: none repeat scroll 0 0 #3E3F41;
  top-margin: 8px;
  top-padding: 10px;
  height: 30px;
  bottom-margin: 8px;
  border-bottom: 1px solid black;
}

#navsection .innertube  {
  margin: 0 200px 0 230px;
  padding-top: 5px;
  position: relative;
}

#navsection .groupnav a  {
  background-color: green;
}

#navsection ul { 
  margin: 0;
  list-style-type: none;
  /*background-color: #000; */
} 

#navsection ul li {  
  display: inline;
} 

#navsection ul li a { 
  text-decoration: none; 
  padding: .1em .5em;
  color: #fff;
} 

#navsection ul li a:hover { 
  color: #000; 
  background-color: #fff; 
} 

#topsection h1 {
  margin: 0;
  padding-top: 15px;
  width: 100%;
}

#contentwrapper {
  float: left;
  width: 100%;
}

#contentcolumn {
  margin: 0 210px 0 240px;
  background-color: transparent;
}

#contentcolumn .innertube  {
  background-color: white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

#leftcolumn {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin-left: -100%;
  width: 230px;
}

#leftcolumn .innertube  {
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

#rightcolumn {
  background: none repeat scroll 0 0 transparent;
  float: left;
  margin-left: -210px;
  width: 210px;
}

#rightcolumn .innertube {
  background-color: white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}


#footer {
  background: none repeat scroll 0 0 black;
  clear: left;
  color: #FFFFFF;
  padding: 4px 0;
  text-align: center;
  width: 100%;
}

#footer a {
  color: #FFFF80;
}

.innertube {
  margin: 0 10px 10px;
  padding: 5px 5px 5px 5px;
}

p, div, span  {
  color: #333333;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  font-weight: 700;
}

.feed .feedItem:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.feed .feedItem {
border-top: 2px dotted #CCCCCC;
}

ul  {
  list-style: none;
  padding: 0 0 0 0;
}

 .header  {
  margin-top: .5em;
  padding: 5px 0 1px ;
  text-align:center;
  background-color: white;
  visibility: visible;
}

h2 {
  font-family: helvetica,arial,clean,sans-serif;
  font-size: 18pt;
  text-align: center;
  font-weight: 700;
  color: #505961;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}


/* here we are looking toward our week bar style */


ul li.headlink {
    width:95px;
    float:left;
    margin-left: -1px;
    background-color: #999900;
    text-align:center;

}


ul.grouplink li a {
    background-color: #012b70;
    text-color: #cccccc;
    color: white;
}

ul.grouplink li a:hover {
    background-color: green;
}

ul.week li {
  width: 100%;
}

ul.week li a:hover {
    background-color: green;
}

ul.week li a {
    background-color: #012b70;
    text-color: #cccccc;
    font-style: bold;
    font-size: 14pt;
    color: white;
    text-align: center;
    width: 100%;

}
/* that's the end of that */

/*table stylez*/
#left {
    width:420px;
    border:1px solid black;
}

#right {
    width:420px;
}

#right textarea#post_content {
  width:400px !important;
  min-width:400px !important;
  max-width:400px !important;
  height:60px !important;
  min-height:60px !important;
  max-height:60px !important;
}



