<footer>
<nav class="round">
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="http://6.470.scripts.mit.edu/2012/">News</a></li>
    <li><a href="http://6.470.scripts.mit.edu/2012/competition/milestones">Deadlines</a></li>
  </ul>
</nav>
</footer>
